<header id="admin-header" style="margin:0 auto; text-align:center">
<nav>
<span><a href="/admin"><i class="fa fa-home"></i>
Inicio |</a></span>
<span><a href="/courses"><i class="fa fa-book"></i>Cursos |</a></span>
<span><a href="/titles"><i class="fa fa-newspaper-o"></i>
Títulos |</a></span>
<span><a href="/logout"><i class="fa fa-sign-out"></i>
Salir</a></span>
</nav>
<h1 style="text-align:center">Panel de administración</h1>
</header>