<% include admin_header.ejs %>

<div id="wrap_courses" style="text-align:center">
<h1>Cursos</h1>

<table style="margin:0 auto">
	<thead>
		<tr>
			<td>ID</id><td>Nombre</td><td>Temario</td>
		</tr>
	</thead>

	<tbody>

<% for(var i in cursos) { %>
	<tr>

		<td><%= cursos[i].id %></td>
		<td><%= cursos[i].nombre %></td>
		<td><%- cursos[i].temario %></td>
		<td><form method="post" action="/courses/<%= cursos[i].id %>?_method=delete"><button type="submit" onclick="return confirm('¿Seguro que desea liminar el curso?');"><i class="fa fa-trash"></i>
 </button></form></td>		
	</tr>
<% } %>

	</tbody>
</table>