<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>

	fieldset{ box-shadow:5px 5px 15px #353F40;background:rgb(158, 197, 204) none repeat scroll 0% 0%; margin-bottom:35px;}
	body{background:rgb(177, 210, 216) none repeat scroll 0% 0%; font-family:helvetica; font-size:lighter;color:#353F40;}
	header{color:white;}
	form{padding-top:10px;}
	nav{background:rgba(0, 0, 0, 0.7) none repeat scroll 0% 0% !important;}
	a {text-decoration: none; color:white;}
	#admin-header{color:#353F40;}
	@media(max-width:850px){
	#wrap{background:url("/images/titulos.png") center repeat-x !important;}
	}
	table{border:1px solid #353F40; background:#343E40;}
	td{border:1px solid #353F40; }
	thead{font-weight:bold;color:white;}
	thead>td{background:#343E40;}
	form{padding-top:0px; padding:5px;}
	tbody{background:#B1D2D8;}
	#qr > img{ width:5cm !important; height:5cm !important;}

</style>

</head>
<body>

	<header style="width:100%; background:rgba(0, 0, 0, 0.7) none repeat scroll 0% 0% !important">
			<p style="text-align:Center"><img src="../../images/logo_MS-2.png" width="100px" style="vertical-align:middle"/><strong style="font-size:20px">Plataforma online de verificación de títulos realizados en murciaSTUDIO. </strong>
			</p>
			<div style="clear:both"></div>

	</header>
